<!-- Author: Benjamin Boson  & Cheng Tao-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<nav th:replace="navbar:: Navbar"></nav>
<div class="container">
    <h2>Search for a book/ books</h2>
    <form th:object="${searchResult}" th:action="@{/search}" method="get">
        <input type="text" name="search" id="search" placeholder="Enter the book title" />
        <input type="submit" value="Search">
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Max loan days</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${searchResult == null || searchResult.isEmpty()}" th:each="book: ${bookList}">
                    <td><span th:text="${book.title}"></span></td>
                    <td><span th:text="${book.getAuthor()}"></span></td>
                    <td><span th:text="${book.maxLoanDays}"></span></td>
                    <td th:if="${book.isAvailable()}"><a class="btn btn-primary btn-sm" th:href="@{/create/loan/{id} (id=${book.bookId})}">Borrow</a></td>
                    <td th:if="${!book.isAvailable()}"><span>Not Available</span></td>
                </tr>
                <tr th:unless="${searchResult == null || searchResult.isEmpty()}" th:each="book: ${searchResult}">
                    <td><span th:text="${book.title}"></span></td>
                    <td><span th:text="${book.author}"></span></td>
                    <td><span th:text="${book.maxLoanDays}"></span></td>
                    <td th:if="${book.isAvailable()}"><a class="btn btn-primary btn-sm" th:href="@{/create/loan/{id} (id=${book.bookId})}">Borrow</a></td>
                    <td th:if="${!book.isAvailable()}"><span>Not Available</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
</body>
</html>