<!-- Author: Benjamin Boson -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="navbar:: Navbar"></nav>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Max loan days</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.maxLoanDays}"></td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/create/loan/process}" th:object="${form}" method="post">
        <label for="startDate">Loan date</label>
        <input class="form-control" type="date" id="startDate" th:field="*{startDate}"/>
        <div th:if="${#fields.hasErrors('startDate')}">
            <ul class="p-0">
                <li th:each="error : ${#fields.errors('startDate')}">
                    <span class="form-error" th:text="${error}"></span>
                </li>
            </ul>
        </div>
        <label for="endDate">Return date</label>
        <input class="form-control" type="date" id="endDate" th:field="*{endDate}"/>
        <div th:if="${#fields.hasErrors('endDate')}">
            <ul class="p-0">
                <li th:each="error : ${#fields.errors('endDate')}">
                    <span class="form-error" th:text="${error}"></span>
                </li>
            </ul>
        </div>
        <input th:type="hidden" name="appUserEmail" id="appUserEmail" th:value="${#authentication.name}">
        <input th:type="hidden" id="bookId" name="bookId" th:value="${bookId}">
        <button class="btn btn-primary" type="submit">Borrow Book</button>
    </form>
</div>
</body>
</html>