<!--Author Benjamin Boson-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">

    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
    <title>Exception</title>
</head>
<body>
<nav th:replace="navbar:: Navbar"></nav>
<div class="container">
    <div class="card mt-4 mb-3 border-dark">
        <h4 class="bg-dark text-dark card-header font-weight-light">Something went wrong</h4>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Response</th>
                    <th scope="col">Code</th>
                    <th scope="col">Message</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><span th:text="${modelMap.statusName}"></span></td>
                    <td><span th:text="${modelMap.statusCode}"></span></td>
                    <td><span th:text="${modelMap.message}"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>