<!-- Author: Benjamin Boson -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
    <meta charset="UTF-8">
    <title>Loans</title>
</head>
<body>
<nav th:replace="navbar:: Navbar"></nav>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Book</th>
            <th>Loan date</th>
            <th>Return date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="loan: ${loanList}">
            <td><span th:text="${loan.book.title}"></span></td>
            <td><span th:text="${loan.startDate}"></span></td>
            <td><span th:text="${loan.endDate}"></span></td>
            <td><a class="btn btn-info btn-sm" th:href="@{/loans/return/{id} (id=${loan.loanId})}">Return</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>